<%- include('partials/header'); -%>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle">
            <br>
            <label>Post</label>
            <textarea class="form-control" name="postContent" placeholder="Post Content" id="floatingTextarea2" style="height: 100px"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button" >Publish</button>
    </form>
<%- include('partials/footer'); -%>